<div class="learner-content">
    <mat-toolbar class="header">
    <h1>Registered Courses</h1>
    <span class="spacer"></span>
    <div class="search">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search" type="search">
        </mat-form-field>
    </div>
    </mat-toolbar>
    
    <div class="courses">
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>
                <div class="course">
                    <img src="../../../../assets/images/bible-hd.jpg" alt="">
                    <p>Fellowship With God</p>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
            </mat-grid-tile>
         
          </mat-grid-list>
    </div>
    
</div>
