<div class="learner-content" *ngFor="let user of users">
    <mat-toolbar class="header">
    <h1>Registered Courses</h1>
    <span class="spacer"></span>
    </mat-toolbar>
    
    <div class="courses" *ngFor="let item of courses" >
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>
                <div class="course">
                    <img src="../../../../assets/images/bible-hd.jpg" alt="">
                    <button mat-button routerLink="/Learner/{{user.User_ID}}/Lessons/{{user.User_ID}}/{{item.Course_Instance_ID}}">{{item.Course_Name}}</button>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
            </mat-grid-tile>
         
          </mat-grid-list>
    </div>
    
</div>
