<div class="container p-3 my-3 border clearfix" style="height:90%;">
    <div>
      <h1 class="display-1">Reset Password</h1>
    </div>
    <label for="UserResetPasswordForm"  class="text-primary; " id="FormLabel">Password Details</label>
    <div class="border border-primary p-5 rounded form-floating" name="UserResetPasswordForm">
      <form>
        <div class="form-row row">
  
          <div class="col">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Code</mat-label>
              <input matInput type="text" name="code">
            </mat-form-field>
  
          </div>
          <div class="col">
            <button mat-raised-button >Resend code</button>
          </div>
        </div>
        <div class="form-row row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Doe" type="password" >
            </mat-form-field>
          </div>
        </div>
        <div class="form-row row">
          <div class="col"> 
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Doe" type="password">
          </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <span style="float:right; padding: 5px;">
      <span style="padding: 5px;"><button mat-raised-button id="btnCancel" routerLink="/" >Cancel</button></span>
      <span style="padding: 5px;"><button mat-raised-button color="primary" id="btnConfirm"  routerLink="/">Confirm</button></span>
    </span>
  </div>
  