<app-navbar></app-navbar>
<mat-sidenav-container class="menu-container clearfix" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
		<mat-nav-list>
            <mat-list-item class="dropdown-item" (click)="isExpanded = !isExpanded" class="parent">
                <button mat-icon-button><mat-icon>menu</mat-icon></button>
                <span class="full-width" *ngIf="isExpanded || isShowing">Menu</span>
			</mat-list-item>

			<mat-list-item class="dropdown-item" (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Profile</span>
				<mat-icon mat-list-icon>account_circle</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>

			<div class="dropdown-content" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item routerLink="/UpdateProfile">Update Profile</a>
				<a mat-list-item href="/DeleteProfile">Delete Profile</a>
			</div>

            <mat-list-item class="dropdown-item" (click)="showLessonSlotSubmenu = !showLessonSlotSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Registered Courses</span>
				<mat-icon mat-list-icon>book</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showLessonSlotSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="dropdown-content" [ngClass]="{'expanded' : showLessonSlotSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="/Learner/Courses">My Courses</a>
				<a mat-list-item href="/RegisterCourse">Register for Courses</a>
                <a mat-list-item href="/PayCourse">Pay for Course</a>
			</div>

            <mat-list-item class="dropdown-item"  class="parent">
				<span class="full-width"  *ngIf="isExpanded || isShowing">Schedule</span>
				<mat-icon mat-list-icon>calendar_today</mat-icon>
			</mat-list-item>
            <mat-list-item class="dropdown-item" class="parent" routerLink="/LearnerGrade"	>
				<span class="full-width"  *ngIf="isExpanded || isShowing">Grades</span>
				<mat-icon mat-list-icon >insert_chart</mat-icon>
			</mat-list-item>
            <mat-list-item class="dropdown-item" class="parent" routerLink="/"	>
				<span class="full-width"  *ngIf="isExpanded || isShowing">Chats</span>
				<mat-icon mat-list-icon >chat</mat-icon>
			</mat-list-item>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="menu-content">
        <p class="user-name">Jane Doe</p>
        <br/>
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>