@import "../../../styles/colors.scss";
@import "../../../styles/structure.scss";

mat-toolbar{
    @include Spacer();
    @include ToolBar();
}

.login{
    width: 80%;
    margin: auto;
    mat-form-field{
        width: 90%;
        margin: auto;
    }
}