<div>
    <h1 class="display-1">{{ActionType}}</h1>
  </div>
  
  <!-- <img [src]="UserImagePath" alt="userImage" id="userImage"
      style="width: 100px; height:100px; display: block; margin-left: auto; margin-right: auto;"><br>
    <img [src]="LocationImagePath" alt="locationImage" id="locationImage"
      style="width: 100px; height:100px; display: none; margin-left: auto; margin-right: auto;"><br> -->
  <label for="UserRegistrationForm" class="text-primary; " id="FormLabel">{{ActionType}} Details</label>
  
  <div class="border border-primary p-5 rounded form-floating content" name="UserRegistrationForm">
    <!--Personal Details Form-->
    <form #f="ngForm" novalidate id="userPersonalDetailsForm">
  
      <!-- ng if logic start -->
      <div class="form-col col">
        <div class="row">
          <div *ngIf="ActionType != 'Create'">
            <mat-form-field appearance="fill">
              <mat-label for="LessonSlot">Lesson slot:</mat-label>
              <mat-select #mySelect (selectionChange)="onOptionsSelected(mySelect.value)" name="LessonSlot" >
                  <mat-option value="{{item.Lesson_Slot_ID}}"  *ngFor="let item of slots">{{item.Lesson_Start}}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>
      </div>   
  <!-- ng if logic end -->
        <div class="row">
          <div *ngIf="ActionType != 'Delete'">
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input ngModel matInput [matDatepicker]="picker" name="Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div *ngIf="ActionType != 'Delete'">
            <mat-form-field appearance="fill">
            <mat-label class="form-label" for="StartTime">Start time:</mat-label>
            <input matInput ngModel type="time" class="form-control " name="StartTime">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div *ngIf="ActionType != 'Delete'">
            <mat-form-field appearance="fill">
                <mat-label class="form-label" for="EndTime">End time:</mat-label>
                <input matInput ngModel type="time" class="form-control " name="EndTime">
            </mat-form-field>
          </div>
        </div>
      </div>
  
      <span style="float:right; padding: 5px;">
        <span style="padding: 5px;"></span>
        <span style="padding: 5px;"><button mat-raised-button (click)="onSubmit(f)" [ngClass]="[ActionType == 'Delete' ? 'btn btn-danger' : 'btn btn-primary']" id="btnNextRegister">{{ ActionType }}</button></span>
      </span>
      <span style="float:right; padding:5px;">
        <button mat-raised-button class="btn btn-secondary" routerLink="['/app/AppHome']" >Cancel</button>
        <!--Link to Login screen-->
      </span>
    </form>
  </div>