<div>
    <h1 class="display-1">{{ActionType}} lesson</h1>
</div>

<!-- <img [src]="UserImagePath" alt="userImage" id="userImage"
      style="width: 100px; height:100px; display: block; margin-left: auto; margin-right: auto;"><br>
    <img [src]="LocationImagePath" alt="locationImage" id="locationImage"
      style="width: 100px; height:100px; display: none; margin-left: auto; margin-right: auto;"><br> -->
<label for="UserRegistrationForm" class="text-primary; " id="FormLabel">Lesson details</label>

<div class="border border-primary p-5 rounded form-floating content" name="UserRegistrationForm">
    <!--Personal Details Form-->
    <form #f="ngForm" novalidate id="userPersonalDetailsForm">
        <!-- ng if logic start -->
        <div class="form-col col">
            <div class="row">
                <div *ngIf="ActionType != 'Create'">
                    <mat-form-field appearance="fill">
                        <mat-label for="LessonName">Lesson:</mat-label>
                        <mat-select name="LessonName" #mySelect (change)="onOptionsSelected(mySelect.value,f)">
                            <mat-option value="{{item.Lesson_ID}}"  *ngFor="let item of slots">{{item.Lesson_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
     
                </div>
            </div>
            <!-- ng if logic end -->
            <div class="form-col col">
                <div class="row">
                    <div *ngIf="ActionType != 'Delete'">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Lesson name</mat-label>
                        <input ngModel matInput placeholder="Lesson Name" type="text" name="LessonName">
                    </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div *ngIf="ActionType != 'Delete'">
                        <label class="form-label" for="File" style="padding-right:20px">Upload resources: </label>
                        <input ngModel name="File" class="btnUpload btn btn-success ng-hide" id="input-file-id" multiple
                            type="file" text="upload file" />
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="ActionType != 'Delete'">

                        
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Meeting Link</mat-label>
                            <input ngModel matInput placeholder="Meeting Link" type="text" name="MeetingLink">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <span style="float:right; padding: 5px;">
                <span style="padding: 5px;"></span>
                <span style="padding: 5px;"><button (click)="onSubmit(f)"
                        [ngClass]="[ActionType == 'Delete' ? 'btn btn-danger' : 'btn btn-primary']"
                        id="btnNextRegister">{{
                        ActionType }}</button></span>
            </span>
            <span style="float:right; padding:5px;">
                <button mat-raised-button class="btn btn-secondary" [routerLink]="['/Teacher/']">Cancel</button>
                <!--Link to Login screen-->
            </span>
        </div>
    </form>
</div>