<mat-toolbar *ngFor="let item of user">
    <div class="logo-nav"style ="float:left">
      <a routerLink="/Teacher/{{item.User_ID}}">
        <img [src] = "LogoPath" alt="CRC Logo" style="width:48px;height:48px;">
        <img [src] = "SystemNamePath" alt="crcLearningText " style ="height:48px;">
      </a>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button class="home-button" routerLink="/Teacher/{{item.User_ID}}"><mat-icon>home</mat-icon></button>
    <button mat-raised-button class="btn nav-button" routerLink="/Login">Logout</button>
  </mat-toolbar>
  
    
  <mat-sidenav-container *ngFor="let item of user" class="menu-container clearfix" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
		<mat-nav-list>
            <mat-list-item class="dropdown-item" (click)="isExpanded = !isExpanded" class="parent">
                <button mat-icon-button><mat-icon>menu</mat-icon></button>
                <span class="full-width" *ngIf="isExpanded || isShowing">Menu</span>
			</mat-list-item>

			<mat-list-item class="dropdown-item" (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Profile</span>
				<mat-icon mat-list-icon>account_circle</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>

			<div class="dropdown-content" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item routerLink="/Teacher/{{item.User_ID}}/Profile/Update/{{item.User_ID}}">Update Profile</a>
				<a mat-list-item routerLink="/Teacher/{{item.User_ID}}/Profile/Delete/{{item.User_ID}}">Delete Profile</a>
			</div>

            <mat-list-item class="dropdown-item" (click)="showLessonSlotSubmenu = !showLessonSlotSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Lesson Slots</span>
				<mat-icon mat-list-icon>access_time</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showLessonSlotSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="dropdown-content" [ngClass]="{'expanded' : showLessonSlotSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="/Teacher/{{item.User_ID}}/ViewLessonSlots/{{item.User_ID}}" >View Lesson Slots</a>
				<a mat-list-item href="/Teacher/{{item.User_ID}}/LessonSlot/Create/{{item.User_ID}}">Create Lesson Slot</a>
			</div>

            <mat-list-item class="dropdown-item" (click)="showLessonSubmenu = !showLessonSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Lesson</span>
				<mat-icon mat-list-icon>chrome_reader_mode</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showLessonSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="dropdown-content" [ngClass]="{'expanded' : showLessonSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="/Teacher/{{item.User_ID}}/ViewLessons/{{item.User_ID}}">View Lessons</a>
				<a mat-list-item href="/Teacher/{{item.User_ID}}/Lesson/Create/{{item.User_ID}}">Create Lesson</a>
				<a mat-list-item href="/Teacher/{{item.User_ID}}/AssignLesson/{{item.User_ID}}">Assign Lesson</a>

			</div>

            
            <mat-list-item class="dropdown-item" (click)="showQuestionSubmenu = !showQuestionSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Question Banks</span>
				<mat-icon mat-list-icon>error_outline</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showQuestionSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="dropdown-content" [ngClass]="{'expanded' : showQuestionSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="/Teacher/{{item.User_ID}}/ViewQuestionBanks/{{item.User_ID}}">View Question Banks</a>
				<a mat-list-item href="/Teacher/{{item.User_ID}}/QuestionBank/Create/{{item.User_ID}}">Create Question Bank</a>
				</div>

            <mat-list-item class="dropdown-item" (click)="showQuizSubmenu = !showQuizSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Quiz</span>
				<mat-icon mat-list-icon>insert_drive_file</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showQuizSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="dropdown-content" [ngClass]="{'expanded' : showQuizSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="/Teacher/{{item.User_ID}}/ViewQuizzes/{{item.User_ID}}">View Quizzes</a>
				<a mat-list-item href="/Teacher/{{item.User_ID}}/Quiz/Create/{{item.User_ID}}">Create Quiz</a>
				<a mat-list-item href="/Teacher/{{item.User_ID}}/AssignQuestiontoQuiz/{{item.User_ID}}">Add Question to Quiz</a>
				<a mat-list-item href="/Teacher/{{item.User_ID}}/AssignQuizToLesson/{{item.User_ID}}">Assign Quiz to Lesson</a>
			</div>


            <mat-list-item class="dropdown-item" class="parent" routerLink="/Teacher/{{item.User_ID}}/Learners/{{item.User_ID}}"	>
				<span class="full-width"  *ngIf="isExpanded || isShowing">Learners</span>
				<mat-icon mat-list-icon >insert_chart</mat-icon>
			</mat-list-item>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="menu-content">
        <p class="user-name" >{{item.First_Name}} {{item.Last_Name }}</p>
        <br/>
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>