<div>
    <h1 class="display-1">{{ActionType}}</h1>
</div>

<!--Update Profile Confirmation--><!--Yet to add details from form-->
<!-- <div *ngFor="let item in user" id="ConfirmUpdateDetails">
    <label>Title:</label><br>
    <label>Name: {{item.First_Name}}</label><br>
    <label>Surname: {{item.Last_Name}}</label><br>
    <label>Gender: {{item.Gender}}</label><br>
    <label>Date of Birth: {{item.Date_of_Birth}}</label><br>
    <label>Phone Number: {{item.Phone_Number}}</label><br>
    <label>Email Address: {{item.Email_Address}}</label><br>
    <label>Department: {{item.Department}}</label><br>
    <label>Country: {{item.Country}}</label><br>
    <label>City: {{item.City}}</label><br>
    <label>I am in CRC: {{item.Church}}</label><br>
  </div> -->

