<div class="courses">
  <div class="course-header">
    <h1 style="display: inline;">Courses</h1>
    <input type="text" class="form-control" placeholder="Search" style="display: inline;">
  </div>
 
  <div  class="course-carousel">
    <mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="5000"  color="accent"
  maxWidth="auto"
  [proportion]="25"
  [slides]="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>
  </div>

  <div class="course-list row">
      <div class="course col-lg-2"  *ngFor="let course of courseData">
          <img src="../../../assets/images/courses/bible-hd.jpg" alt="">
          <h3>      {{course.Course_Name}}          </h3>
      </div>
  </div>
</div>