<h1 class="display-1 text-left" >Pay for Course</h1>
<div *ngFor="let course of courses" >

<label for="CourseRegistrationForm"  class="text-primary; " id="FormLabel">Course Registration</label>
<div class="border border-primary p-5 rounded form-floating content" name="CourseRegistrationForm">
  <div class="checkbox">
    <h1>{{course.Course_Name}}</h1> 
    <h3>Runs from {{course.Start_Date}} to {{course.End_Date}}</h3>
    <p>{{course.Course_Description}}</p> 
  </div>
</div>

<span *ngFor="let item of user" style="float:right; padding: 5px;">
  <span style="padding: 5px;"><button mat-raised-button class="btn btn-secondary " id="btnCancel" routerLink="../../../">Cancel</button></span>
  <span style="padding: 5px;">
    <button mat-raised-button routerLink="/User/{{item.User_ID}}/RegisterCourse/{{item.User_ID}}/{{course.Course_ID}}">Register</button>
    <!-- <button mat-raised-button class="btn btn-primary " id="btnNext">
      <a href="https://paystack.com/pay/crc-test">Pay for Course</a>
    </button> -->
  </span>
</span>
</div>

